.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    border-radius: 5px;
    display: none;
}
.form-update {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
h1, p{
    text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.form-update input[type="text"],
.form-update input[type="email"],
.form-update input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.insert {
    background-color: #1f8928;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #007bff;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.modify {
    color: green;
    text-decoration: none;
    
}

.modify:hover {
    text-decoration: underline;
}
.delete {
    color: red;
    text-decoration: none;
}

.delete:hover {
    text-decoration: underline;
}
.search {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    background-color: #244971;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}